@model HUMAN_RESOURCES_v1.Models.DEPARTAMENTO

@{
    ViewBag.Title = "Details";
}
    <center>
        <h3>Detalles de los Departamentos</h3>
    </center>

<div>
    <h4>Departamento Seleccionado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_departamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_departamento },htmlAttributes:new { @class="btn btn-warning"})
    @Html.ActionLink("Volver a la lista", "Index",null,htmlAttributes:new {@class="btn btn-danger" })
</p>
