
@{
    ViewBag.Title = "Bienvenida";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css" rel="stylesheet">

</head>

<body>
    <br />
    <br />
    <br />
    <!-- Header -->
    <div style="text-ali">
        <div class="container">
            <div class="jumbotron">
                <h1 style="color:green;">
                    Human Resources Enterprise
                </h1>

                <p>Administrador de Recursos Humanos</p>
            </div>
        </div>

        <!-- Page Content -->
        <div class="container">

            <div class="row">
                <div class="col-md-8 mb-5">
                    <h2>¿Que Puede Hacer Human Resources?</h2>
                    <hr>
                    <p>Human Resorces Enterprise puede manejar todos los datos concernientes a recursos humanos, datos: Departamentos, Cargos, Empleados, Permisos, Licencias, Vacaciones y las Salidas de los Empleados </p>
                    <p>Con Human Resorces Enterprise sera facil manejar grandes cantidades de informacion ya que con los filtros y funcionalidades denuestra Web app todo sera mucho mas sencillo.</p>
                    <a class="btn btn-primary btn-lg" href="/Account/Login">Iniciar Sesion &raquo;</a>
                </div>
                <div class="col-md-4 mb-5">
                    <h2>Presentacion:</h2>
                    <hr>
                    <p>
                        <strong>Proyecto Final Programacion 3 Human-Resources</strong>
                    <p><strong>Profesor:</strong>Juan Rosario</p>
                    <p><strong>Estudaintes:</strong></p>
                    <p>Ewin Mendez<br />
                    <p>
                        Joel Jimenez<br />
                    </p>
                    <div>
                        <p><strong>Fecha:</strong>4 de Diciembre </p>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="/Imagenes/recursos-humanos-funciones.jpg" alt="Imagen Modulo Empleado" width="300" height="200">
                        <div class="card-body">
                            <h4 class="card-title">Empleados</h4>
                            <p class="card-text">Cree edite y verifique sus empleados en cualquier momento</p>
                        </div>
                        <div class="card-footer">
                            <a href="/EMPLEADOS/Index" class="btn btn-primary">Ir a Empleados</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="/Imagenes/seleccion-personal.jpg" alt="" width="300" height="200">
                        <div class="card-body">
                            <h4 class="card-title">Departamentos</h4>
                            <p class="card-text">Maneje todos los daprtamentos de la empresa desde un mismo lugar</p>
                        </div>
                        <div class="card-footer">
                            <a href="/DEPARTAMENTOS/Index" class="btn btn-primary">Ir a Departamentos</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="/Imagenes/nomina.jpg" alt="" width="300" height="200">
                        <div class="card-body">
                            <h4 class="card-title">Nomina</h4>
                            <p class="card-text">Con solo unos cuantos clics la Nomina de sus Empleados estara Lista</p>
                        </div>
                        <div class="card-footer">
                            <a href="/NOMINAS/Index" class="btn btn-primary">Ir a Nomina</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </div>
</body>
</html>
